/******************************************************************************/
// config/_colors.scss
//
// DESCRIPTION: Establishes the brand colors. Only colors relative to the brand
// definition live here.
//

$black: #41414e;
$white: #e6e7ec;

$grey: #e7e8ea;
$dark-grey: #48505f;

$off-white: #f7f7f7;

$green: #7fc35f;
$light-green: #cfe7cd;

$yellow: #f08a24;

$red: #ed5770;

$primary-color: #f35656;
$secondary-color: $grey;
$alert-color: $red;
$success-color: $green;
$warning-color: $yellow;
$info-color: #a0d3e8;


// color implementation
$body-background-color: $white;
$light-text-color: rgba($white, .35);

// navigation
$nav-border-color: $primary-color;
$nav-menu-icon-color: $primary-color;
$nav-link-color: $light-text-color;
$nav-link-hover-color: $grey;
$nav-link-hr-color: $light-text-color;

// @mixin color-block
$colors-border: rgba($dark-grey, .25);
$colors-h5-background-color: $grey;

// @mixin hover-border
$hover-border-background-color: $red;
