
// Colors
//
// Notes
$notes-section-background-color: rgba($white, .85);
$notes-background-color: $white;

// Smoove dem fonts!
* { -webkit-font-smoothing: antialiased; }

body {
  &.open #woo-styleguide nav,
  #woo-styleguide nav.near-menu {
    .preview {
      width: 5px;
    }
  }

  &.open #woo-styleguide {
    nav {
      background-color: darken($black, 5%);
      overflow-y: auto;
      overflow-x: hidden;
      pointer-events: auto;
      top: 0;
      width: 300px;

      a { box-shadow: 0 1px 0 0 $black; }

      .menu { @include inline-icon('close'); }
      .nav-item { opacity: 1; }
      .nav-item-list{ background: $black; }
    }
  }
}

#woo-styleguide {
  background: $black;
  padding: 0;
  margin: 0;
  font-family: $body-font;
  box-sizing: border-box;
  position: relative;

  .location {
    background-color: rgba($white, .95);
    color: rgba($black, .45);
    cursor: pointer;
    font-style: italic;
    padding: 10px 20px;
    position: relative;

    &.show-code { color: $black; }
    &.show-code + pre { display: block; }
    &.show-code:after { @include icon('arrow-down'); }

    &:after {
      @include icon('arrow-up');
      right: 20px;
      top: 14px;
      position: absolute;
      font-style: normal;
      padding-left: 5px;
    }

    &:hover { color: $primary-color; }

    + pre { display: none; }
    + pre code {
      box-shadow: inset 0 -20px 0 #fafaff;
      background-color: #f3f3fa;
      font-size: 14px;
      padding: 4em 20px 4.6em;
    }
  }
}
