
// Colors
//
// Notes
$notes-section-background-color: rgba($white, .85);
$notes-background-color: $white;

// Smoove dem fonts!
* { -webkit-font-smoothing: antialiased; }

#woo-styleguide {
  background: $black;
  padding: 0;
  margin: 0;
  font-family: $body-font;

  &.open nav,
  nav.near-menu { border-left: 5px solid $primary-color; }

  &.open {
    nav {
      background-color: darken($black, 5%);
      overflow-y: auto;
      overflow-x: hidden;
      pointer-events: auto;
      top: 0;
      width: 300px;

      a { @include box-shadow(0 1px 0 0 $black); }

      .menu { @include inline-icon('close'); }
      .nav-item { opacity: 1; }
      .nav-item-list{ background: $black; }
    }
  }

  //
  // NAVIGATION
  // ******************************************************************
  nav {
    @include transition(all .3s ease);
    background-color: transparent;
    border-left: 0px solid $nav-border-color;
    display: block;
    font-size: 0.8em;
    left: 0;
    bottom: 0;
    padding: 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: 10px;
    z-index: 1000;

    a.menu {
      @include transition(all .3s ease);
      @include inline-icon('menu');

      pointer-events: auto;
      color: $nav-menu-icon-color;
      display: block;
      font-size: 1.2em;
      line-height: 2em;
      margin-right: 0;
      text-align: right;
      z-index: 1000;
      span { display: none; }

      &:hover { @include box-shadow(none); }
    }

    .nav-item {
      @include transition(all .3s ease .2s);
      opacity: 0;

      &.open {
        .nav-item-title {
          color: $white;
          &:after { @include icon('arrow-down'); }
        }
        ul.nav-item-list { display: block; }
      }

      .nav-item-title {
        @include transition(all .3s ease);
        font-weight: 500;
        margin-bottom: 1px;
        text-transform: uppercase;

        &:after {
          @include icon('arrow-up');
          position: absolute;
          right: 20px;
        }
      }
    }

    a {
      @include transition(all .3s ease);
      @include box-shadow(0 1px 0 0 transparent);
      color: $nav-link-color;
      font-family: $header-font;
      font-size: 1em;
      display: block;
      padding: 20px;
      &:hover {
        color: $nav-link-hover-color;
      }
    }

    .nav-item-list {
      @include transition(all .3s ease);
      background-color: transparent;
      display: none;
      overflow: hidden;
      padding: 10px 0;
      margin: 0;

      li {
        display: block;
        &:last-child { margin-right: 0; }

        a {
          font-size: 13px;
          padding-left: 45px;
          position: relative;
          &:before {
            @include box-shadow(inset 0 0 0 1px $nav-link-hr-color);
            border-radius: 1000px;
            left: 25px;
            position: absolute;
            width: 10px;
            height: 10px;
            content: '';
            font-size: 10px;
            vertical-align: top;
            margin-top: 4px;
          }
        }
      }
    }
  }


  //
  // COLORS
  // ******************************************************************

  .colors {
    // @include block-grid(1);
    li {
      // base colors
      &.green { @include color-block($green); }
      &.grey { @include color-block($grey); }
      &.dark-grey { @include color-block($dark-grey); }
      &.off-white { @include color-block($off-white); }
      &.white { @include color-block($white); }

      // component colors
      &.primary-color { @include color-block($primary-color); }
      &.secondary-color { @include color-block($secondary-color); }
      &.alert-color { @include color-block($alert-color); }
      &.success-color { @include color-block($success-color); }
      &.warning-color { @include color-block($warning-color); }
      &.info-color { @include color-block($info-color); }
    }
    @media #{$small} {
      // @include block-grid(3);
    }
  }


  //
  // BLOCK
  // ******************************************************************

  dl.styleguide {
    margin: 200px 0;
    position: relative;

    a[name] {
      height: 0;
      padding: 0;
      margin: 0;
    }
    dt.page-title {
      background-color: rgba($white, .95);
      color: $black;
      display: block;
      font-size: 2em;
      font-weight: 100;
      margin: 2em 0 0;
      padding: 10px 0;
      text-align: center;
    }

    dd {
      margin: 0 auto;
      padding-top: 4em;
      padding-bottom: 4em;
      position: relative;
      overflow: hidden;

      &.notes {
        background: $notes-section-background-color;
        padding-top: 2em;
        padding-bottom: 2em;
        .wrapper {
          background: $notes-background-color;
          padding: 4em;
        }
        .notes-title {
          @include box-shadow(0 1px 0 0 rgba($black, .08));
          color: rgba($black, .35);
          font-size: rem-calc(14);
          font-weight: 100;
          font-style: italic;
          padding-bottom: .35em;
          position: relative;
        }

        h1, h2, h3, h4, h5, h6, p {
          color: lighten($black, 15%);
          font-weight: 200;
        }

      }
      &.preview {
        background: $body-background-color;
      }
      &.location-title {
        padding: 0;
      }
    }
  }

  .location {
    background-color: rgba($white, .95);
    color: rgba($black, .45);
    cursor: pointer;
    font-style: italic;
    padding: 10px 20px;
    position: relative;

    &.show-code { color: $black; }
    &.show-code + pre { display: block; }
    &.show-code:after { @include icon('arrow-down'); }

    &:after {
      @include icon('arrow-up');
      right: 20px;
      top: 14px;
      position: absolute;
      font-style: normal;
      padding-left: 5px;
    }

    &:hover { color: $primary-color; }

    + pre { display: none; }
    + pre code {
      @include box-shadow(inset 0 -20px 0 #fafaff);
      background-color: #f3f3fa;
      font-size: 14px;
      padding: 4em 20px 4.6em;
    }
  }
}
